node_modules/*
examples/node_modules/*
packages/components/node_modules/*
packages/utils/node_modules/*
vitepress/node_modules/*
packages/components/es/**/*
packages/components/lib/**/*
vitepress/docs/.vitepress/dist
vitepress/docs/.vitepress/cache
